<div class="funkwhale-stats-grid">
  <div class="funkwhale-stat">
    <span class="funkwhale-stat__value">{{ summary.totalPlays }}</span>
    <span class="funkwhale-stat__label">{{ __("funkwhale.plays") }}</span>
  </div>
  <div class="funkwhale-stat">
    <span class="funkwhale-stat__value">{{ summary.uniqueTracks }}</span>
    <span class="funkwhale-stat__label">{{ __("funkwhale.tracks") }}</span>
  </div>
  <div class="funkwhale-stat">
    <span class="funkwhale-stat__value">{{ summary.uniqueArtists }}</span>
    <span class="funkwhale-stat__label">{{ __("funkwhale.artists") }}</span>
  </div>
  <div class="funkwhale-stat">
    <span class="funkwhale-stat__value">{{ summary.totalDurationFormatted }}</span>
    <span class="funkwhale-stat__label">{{ __("funkwhale.listeningTime") }}</span>
  </div>
</div>
